<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <title>My weather api</title>
</head>
<body>

    <div class="pure-form">
        <fieldset>
            <input class="pure-button pure-button-primary" type="button" name="btnLocation" value="Get location">
        </fieldset>
    </div>
    
    <h1>What's your location?</h1>

    <form class="pure-form">
        <fieldset>
            <input type="text" name="latitude" placeholder="Latitude" auto-focus step="1" required>
            <input type="text" name="longitude" placeholder="Longitude" auto-focus step="1" required>
            <input type="submit" value="Go" class="pure-button pure-button-primary">
        </fieldset>
    </form>
    
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="main.js"></script>
</body>
</html>